<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>CSSI Bank</title>
  <link rel="stylesheet" href="../styles/account_home.css">
</head>
<body>
  <div class="bank-header">
    <h1>CSSI First Bank</h1>
  </div>

  <div id="deposit-popup" class="transaction-form-container">
    <form method="post" class="transaction-form" action="/?type=deposit">
      <label>Deposit</label>
      <input type="text" name="deposit_amount" placeholder="Amount" value="{{deposit_amount}}">
      <input type="submit" value="Submit">
    </form>
  </div>

  <div id="withdraw-popup" class="transaction-form-container">
    <form method="post" class="transaction-form" action="/?type=withdraw">
      <label>Withdraw</label>
      <input type="text" name="withdraw_amount" placeholder="Amount" value="{{withdraw_amount}}">
      <input type="submit" value="Submit">
    </form>
  </div>

  <div id="transfer-popup" class="transaction-form-container">
    <form method="post" class="transaction-form" action="/?type=transfer">
      <label>Transfer</label>
      <input type="text" name="transfer_amount" placeholder="Amount" value="{{transfer_amount}}">
      <input type="text" name="recipient" placeholder="Recipient" value="{{transfer_recipient}}">
      <input type="submit" value="Submit">
    </form>
  </div>

  <h2 class="balance">Balance: {{balance}}</h2>
  <div class="transactions-container">
    <h3>Transaction history:</h3>
    <div class="transactions-list">
      <div class="transaction">
        <label>Date and time</label>
        <label>Amount</label>
        <label>Transfer recipient</label>
      </div>
      {{transactions_html}}
    </div>
  </div>
</body>
