body {
  background-color: #333;
  margin: 0 auto;
  max-width: 600px;
}

.bank-header {
  padding: 15px 30px;
}

.bank-header h1 {
  color: white;
  font-weight: normal;
  margin: 0;
}

h2 {
  color: lightgrey;
  font-weight: 500;
  margin: 0;
  padding: 10px 30px;
}

.transactions-container {
  padding: 15px 30px;
}

.transactions-container h3 {
  color: lightgrey;
  margin: 0;
}

.transactions-container h3 {
  color: lightgrey;
  font-weight: 400;
  margin: 0;
}

.transaction {
  color: white;
  font-weight: 100;
  margin-top: 15px;
}

.transaction > label {
    margin: 0 10px;
}

.transaction-form-container {
  background-color: white;
  border: 1px solid #ccc;
  margin-top: 10px;
  padding:15px;
}
